<% include ../partials/header.ejs%>
<div class="container">

    <div class="text-center">
        <hr>
        <h3>თბილისში</h3>
        <hr>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 col-xxs-12" v-for="transport in transports">
                <div class="transport-container">
                    <a href="#"><img :src="'../../uploads/' + transport.photos[0]"></a>
                    <div class="car-details">
                        <div class="car-meta-top">
                            <div class="car-mark">
                                {{transport.year}} {{transport.mark}} {{transport.model}}
                            </div>
                            <div class="car-price">${{transport.price}}</div>
                        </div>
                        <div class="car-meta-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <hr>
        <h3>გზაში</h3>
        <hr>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 col-xxs-12">
                <div class="car-image">
                    <img src="http://bbt.ge/wp-content/uploads/2017/06/2012-Toyota-Camr-1-640x466.jpg" alt="">
                </div>
                <div class="car-details">
                    <div class="car-meta-top">
                        <div class="car-mark">
                            2012 Toyota Camry
                        </div>
                        <div class="car-price">$3500</div>
                    </div>
                    <div class="car-meta-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
<% include ../partials/footer.ejs%>