<% include ../partials/Header.ejs %>
<div class="container" id="app">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="error">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="text-center" style="margin: 30px 0 20px 0;">
        <h1>ტრანსპორტის დამატება</h1>
    </div>
    <form id="register-form" class="form-control" enctype="multipart/form-data">
        <div class="row" style="margin-bottom: 10px; padding: 10px 0 10px 0;">
            <div class="col-md-4 col-xs-3">
                <div class="form-control">
                    <label>მარკა:</label>
                    <input class="form-control" type="text" v-model="mark">
                    <label>წელი:</label>
                    <input class="form-control" type="text" v-model="year">
                    <label>საწვავის ტიპი:</label>
                    <select class="custom-select" type="text" v-model="selectedType">
                        <option v-for="value in fuel">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-3">
                <div class="form-control">
                    <label>მოდელი:</label>
                    <input class="form-control" type="text" v-model="model">
                    <label>გარბენი:</label>
                    <input class="form-control" type="text" v-model="odometer">
                    <label>ძრავის მოცულობა:</label>
                    <input class="form-control" type="number" v-model="engine">
                </div>
            </div>
            <div class="col-md-4 col-xs-3">
                <div class="form-control">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="ლუქი" id="customCheck1" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck1">ლუქი</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="ტყავის სალონი" id="customCheck2" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck2">ტყავის სალონი</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="კლიმატკონტროლი" id="customCheck3" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck3">კლიმატკონტროლი</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="სავარძლების გათბობა" id="customCheck4" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck4">სავარძლების გათბობა</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="ნავიგაცია" id="customCheck6" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck6">ნავიგაცია</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="კონდინციონერი" id="customCheck7" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck7">კონდინციონერი</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="პარკინგკონტროლი" id="customCheck8" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck8">პარკინგკონტროლი</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="უკანა ხედვის კამერა" id="customCheck9" v-model="checkedFeature">
                        <label class="custom-control-label" for="customCheck9">უკანა ხედვის კამერა</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-control" style="margin-bottom: 10px;">
            <label for="price">ფასი</label>
            <input type="text" id="price" class="form-control" v-model="price">
            <label for="exampleFormControlTextarea1">კომენტარი</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" v-model="comment"></textarea>
        </div>
        <div class="row">
            <div class="col-1 thumbnail" v-if="photos" v-for="(photo, index) in photos">
                <img style="width: 75px" :src="photo" alt="" @click="removeImage(index)" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" @change="onFileChange" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<div class="custom-file">-->
                    <!--<input type="file" class="custom-file-input" @change="onTestFile" id="customFile">-->
                    <!--<label class="custom-file-label" for="customFile">Choose test file</label>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="col-md-10"></div>
        <button class="btn btn-outline-dark" @click="logIt">Submit</button>
    </form>

    <!--<form action="/testUpload" enctype="multipart/form-data" method="post">-->
        <!--<input name="photo" type="file">-->
        <!--<button type="submit">Submit</button>-->
    <!--</form>-->
</div>



</div>
<script src="../../bootstrap4/jquery-3.2.1.js"></script>
<script src="../../bootstrap4/js/bootstrap.js"></script>
<script src="../../bootstrap4/js/bootstrap.bundle.js"></script>
<script src="../../js/vue/vue_add.js"></script>
</body>
</html>