
</div>
<script src="../../bootstrap4/jquery-3.2.1.js"></script>
<script src="../../bootstrap4/js/bootstrap.js"></script>
<script src="../../bootstrap4/js/bootstrap.bundle.js"></script>
<script src="../../js/Vue.js"></script>
<script src="../../js/vue/vue_main_page.js"></script>
</body>
</html>