.test {
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

.car-image img{
    width: 155px;
}

.car-mark {
    float: left;
    font-weight: 600;
}

.car-price {
    float: right;
    font-weight: 800;
    color: forestgreen;
    font-size: 14px;
}