.test {
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

.transport-container img{
    width: 100%;
}

.car-mark {
    /*float: left;*/
    font-weight: 600;
}

.car-price {
    font-weight: 800;
    color: forestgreen;
    font-size: 14px;
}

.transport-container {
    max-width: 170px;
}